{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cradle of Humanity</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script type="text/javascript" src="{% static 'base.js' %}"></script>
  <script type="text/javascript" src="{% static 'dropdown.js' %}"></script>
</head>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large  w3-hide-medium w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-theme-l1">Cradle of Humanity</a>
    {% if user.is_data_admin or user.is_editor %}
      <div class="w3-dropdown-hover">
        <button class="w3-button">Quality Control</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'quality-control-list' %}?workflow=6400&status=to+be+checked" class="w3-bar-item w3-button">Specimen Numbers</a>
          <a href="{% url 'quality-control-list' %}?workflow=6407&status=to+be+checked" class="w3-bar-item w3-button">Specimen Taxonomy (Latin Names)</a>
          <a href="{% url 'quality-control-list' %}?workflow=6540&status=to+be+checked" class="w3-bar-item w3-button">Nature of Specimen (Body Parts)</a>
          <a href="{% url 'quality-control-list' %}?workflow=6574&status=to+be+checked" class="w3-bar-item w3-button">Location and Stratigraphy</a>
          <a href="{% url 'quality-control-list' %}?workflow=12713&status=to+be+checked" class="w3-bar-item w3-button">Additional Info (Card Backside)</a>
          <a href="{% url 'summary-list' %}" class="w3-bar-item w3-button">Summary</a>
        </div>
      </div>
    {% endif %}
    {% if user.is_data_admin %}
      <a href="{% url 'scan-list' %}" class="w3-aritem w3-button w3-hover-white w3-hide-small">Scans</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button">Master Data</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'source-list' %}" class="w3-bar-item w3-button">Source List</a>
          <a href="{% url 'master-list' %}" class="w3-bar-item w3-button">Master List</a>
          <a href="{% url 'master-fields' %}" class="w3-bar-item w3-button">Master Fields</a>
          <a href="{% url 'manage-masters' %}" class="w3-bar-item w3-button">Manage Master Data</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-aritem">
        <button class="w3-button">Import</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'import-scan-images' %}" class="w3-bar-item w3-button">Scan Images</a>
          <a href="{% url 'scan-import' %}" class="w3-bar-item w3-button">Scan Data</a>
          <a href="{% url 'import-data' %}" class="w3-bar-item w3-button">Zooniverse Data</a>
          <a href="{% url 'import-source-data' %}" class="w3-bar-item w3-button">Source Data</a>
        </div>
      </div>
    {% endif %}
    
    {% if user.is_authenticated %}
      <button id="logout-btn" class="w3-button w3-bar-item w3-right w3-hover-white">Logout</button>
    {% else %}
      <button id="login-btn" class="w3-button w3-bar-item w3-right w3-hover-white">Login | Sign up</button>
    {% endif %}
    {% if user.is_data_admin %}
      <a href="{% url 'task-list' %}" class="w3-aritem w3-button w3-right w3-hover-white">Tasks</a>
    {% endif %}
    {% if user.is_authenticated %}
      <button id="contact-form-btn" class="w3-button w3-bar-item w3-right w3-hover-white">Contact</button>
    {% else %}
      <button id="contact-form-btn" class="w3-button w3-bar-item w3-right w3-hover-white hide">Contact</button>
    {% endif %}
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-large w3-theme-l5 w3-animate-left w3-collapse" id="mySidebar" style="display:none;">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Account</b></h4>
  {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-hover-black">Logout</a>
  {% else %}
    <a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-hover-black">Login | Sign Up</a>
  {% endif %}
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'scan-list' %}">Scans</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'scan-import' %}">Import Scan Data</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'import-data' %}">Import Zooniverse Data</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<main class="w3-main" >
  <div class="w3-row w3-padding-64">
    <div class="w3-container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert w3-round w3-margin-bottom {{message.tags}}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{message.tags|title}}! </strong>{{message}}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
</main>

<!-- https://www.w3schools.com/howto/howto_css_modals.asp -->

<!-- Contact Form Modal -->
<div id="contact-form" class="modal">

  <!-- Contact Form Content -->
  <div class="modal-content">
    <div class="modal-header w3-center">
      <span id="contact-form-close" class="close">&times;</span>
      <h2>Contact Form</h2>
    </div>
    <div class="modal-body container">
      <form action="{% url 'contact_form' %}" method="POST">
        {% csrf_token %}

        <label for="full_url">Current URL</lable>
        <input type="text" id="full_url" name="full_url" value="{{request.get_host}}{{request.path}}" readonly>

        <hr>

        <label for="name">Name</label>
        {% if user.is_authenticated %}
          <input type="text" id="name" name="name" placeholder="Your name.." value="{{user.get_full_name}}" required>
        {% else %}
          <input type="text" id="name" name="name" placeholder="Your name.." required>
        {% endif %}

        <label for="email">Email</label>
        {% if user.is_authenticated %}
          <input type="text" id="email" name="email" placeholder="Your email.." value="{{user.email}}" required>
        {% else %}
          <input type="text" id="email" name="email" placeholder="Your email.." required>
        {% endif %}

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something..." style="height:200px" required></textarea>

        <input type="hidden" name="url" value="{{request.path}}">

        <input type="submit" value="Submit">

      </form>
    </div>
  </div>

</div>

<!-- The Logout Modal -->
<div id="logout-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header w3-center">
      <span id="logout-close" class="close">&times;</span>
      <h2>Logout</h2>
    </div>
    <div class="modal-body">

      <p class="w3-center">Are you sure you want to Logout?</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <input type="submit" value="Logout">
      </form>

    </div>
  </div>

</div>

<!-- The Logout Modal -->
<div id="login-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header w3-center">
      <span id="login-close" class="close">&times;</span>
      <h2>Login</h2>
    </div>
    <div class="modal-body">

      {% get_providers as socialaccount_providers %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div id="div_id login" class="control-group">
          <label for="id_login_modal" class="control-label requiredField">
            Username<span class="asteriskField">*</span>
          </label>
          <div class="controls">
            <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" class="textinput textInput" required id="id_login_modal">
          </div>
        </div>
        <div id="div_id_password" class="control-group">
          <label for="id_password_modal" class="control-label requiredField">
            Password<span class="asteriskField">*</span>
          </label>
          <div class="controls">
            <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="textinput textInput" required id="id_password_modal">
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" value="Login" class="primaryAction">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </form>

      {% if socialaccount_providers %}
        <hr>

        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers w3-center">
            <li class="socialaccount_provider">
              <form class="orcid" action="{% provider_login_url 'orcid' %}" method="post">
                {% csrf_token %}
                <button type="submit">Connect with ORCID</button>
              </form>
            </li>
          </ul>
        </div>
      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
        <p>If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.</p>
      {% endif %}

    </div>
  </div>

</div>

<script type="text/javascript" src="{% static 'modals.js' %}"></script>

{% block javascript %}{% endblock %}

</body>

</html>
