{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <h2>Master Entity ({{master_entity.id}})</h2>

  {% if source_entities|length > 1 %}
    <p>There are {{ source_entities|length }} different sources for this master entity.</p>
  {% else %}
    <p>There is only one source for this master entity.</p>
  {% endif %}

  <table class="styled-table" style="width: 100%">
    <thead>
      <tr>
        <th class="w3-center">Source</th>
        <th class="w3-center">Source Entity ID</th>
        {% for master_field in master_fields %}
          <th class="w3-center">{{ master_field.name }}</th>
        {% endfor %}
        {% if source_entities|length > 1 %}
          <th class="w3-center">Split</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for entity in source_entities %}
        <tr class="w3-center">
          <td class="w3-center">{{entity.source.name}}</td>
          <td class="w3-center">{{entity.id}}</td>
          {% for master_value in master_entity_data|get_item:entity %}
            <td class="w3-center">{{master_value.value}}</td>
          {% endfor %}
          {% if source_entities|length > 1 %}
            <td><a href="{% url 'master-entity-split' master_entity.id entity.id %}"><i class="material-icons">call_split</i></a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!--
  <p>Source of the data is {{source.name}}.</p>
  <p>The original data value in the source is "{{source_data.source_value.value}}".</p>

  <h3>Edit the data value in master</h3>

  <form class="w3-container w3-padding" method="POST">
    {% csrf_token %}
    <label for="new_value">Enter a new value:</label>
    <input id="new_value" type="text" name="new_value" placeholder="{{data.master_value.value}}">
    <label for="comment">Comment the edit:</label>
    <input id="comment" type="text" name="comment">
    <button class="w3-btn w3-grey w3-round-large" type="submit">Edit</button>
    <a href="{% url 'master-list' %}" class="w3-btn w3-grey w3-round-large">Cancel</a>
  </form>

  {% if comments %}
    <h2>Editing comments</h2>
    <table class="w3-margin w3-table-all">
      </tr>
        <th>Date</th>
        <th>Previous value</th>
        <th>New value</th>
        <th>Comment</th>
      </tr>
      {% for comment in comments %}
        <tr>
          <td>{{comment.date}}</td>
          <td>{{comment.prev_value}}</td>
          <td>{{comment.new_value}}</td>
          <td>{{comment.text}}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  -->

{% endblock content %}

