html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip label {
  text-decoration: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  text-decoration: none;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.scan-image {
  flex: 1 1 300px;
  min-width: 300px;
}

.scan-table {
  flex: 1 1 auto;
  max-width: 500px;
}

.scan-image img {
  max-width: 100%;
  height: auto;
}

.w3-sidebar {
  z-index: 3;
  width: 0px;
  top: 43px;
  bottom: 0;
  height: inherit;
} 

td, th {
  text-align: center;
  vertical-align: center;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr i:hover {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr.highlight:hover {
    color: #009879;
    text-shadow: 1px 0px 0px #009879;
}

.styled-table tbody tr .highlight:hover {
    color: #009879;
    text-shadow: 1px 0px 0px #009879;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(126, 126, 126);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.modal-body {padding: 16px 16px 8px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

/* https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
  padding: 20px;
  background-color: #333333;
  color: white;
}

.alert.success {
  background-color: #2fb886;
}

.alert.info {
  background-color: #47a8f5;
}

.alert.warning {
  background-color: #ffa92b;
}

.alert.error {
  background-color: #f44336;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

ul.socialaccount_providers {
  list-style-type: none;
  padding: 0;
}

.socialaccount_provider {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid grey;
  text-decoration: none;
  background-color: #f3f3f3;
}

.socialaccount_provider:hover {
  box-shadow: 0px 0px 5px grey;
}

.socialaccount_provider::before {
  content: "";
  background-image:url('images/orcid.svg');
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width:20px;
  position:relative;
  top:5px;
  margin-right: 5px;
}