{% extends "base.html" %}
{% load static %}
{% load my_filters %}

{% block content %}

  <h2>{{title}}</h2>

  <h3>{{instructions}}</h3>
  <form method="POST">
    {% csrf_token %}
    <div style="overflow-x:auto;">
      <table class="styled-table">
        <thead>
          {% for master_field in master_fields %}
            <th>{{master_field.name}}</th>
          {% endfor %}
        </thead>
        <tbody>
          {% for row in example_table %}
            <tr>
              {% for master_field in master_fields %}
                <td>{{row|get_item:master_field}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url 'create-master' source.id 3 %}" class="w3-btn w3-teal w3-round-large">Previous</a>
    <button class="w3-btn w3-teal w3-round-large" type="submit">Create master!</button>
  </form>

{% endblock content %}

{% block javascript %}{% endblock %}
