{% extends "base.html" %}
{% load my_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <h2>Master Entity ({{master_entity.id}})</h2>

  {% if source_entities|length > 1 %}
    <p>There are {{ source_entities|length }} different sources for this master entity.</p>
  {% else %}
    <p>There is only one source for this master entity.</p>
  {% endif %}

  <div style="overflow-x:auto;">
    <table class="styled-table" style="width: 100%">
      <thead>
        <tr>
          <th class="w3-center">Source</th>
          <th class="w3-center">Source Entity ID</th>
          {% for master_field in master_fields %}
            <th class="w3-center">{{ master_field.name }}</th>
          {% endfor %}
          <th class="w3-center">Edit</th>
          <th class="w3-center">Merge</th>
          <th class="w3-center">Split</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in source_entities %}
          <tr class="w3-center">
            <td class="w3-center highlight"><a style="text-decoration: none;" href="{% url 'source-view' entity.source.id %}">{{entity.source.name}}</a></td>
            <td class="w3-center">{{entity.id}}</td>
            {% for master_field in master_fields %}
              <td class="w3-center">{{master_data_dict|get_item:entity.id|get_item:master_field.id|getattr:'value'|getattr:'value'}}</td>
            {% endfor %}
            {% if user.is_data_admin %}
              <td><span><a href="{% url 'master-entity-choose-edit' master_entity.id entity.id %}"><i class="material-icons highlight">edit</i></a></span></td>
              <td><span><a href="{% url 'master-entity-merge' master_entity.id entity.id %}"><i class="material-icons highlight">call_merge</i></a></span></td>
              {% if source_entities|length > 1 %}
                <td><a href="{% url 'master-entity-split' master_entity.id entity.id %}"><i class="material-icons highlight">call_split</i></a></td>
              {% else %}
                <td><span class="isDisabled"><a href="{% url 'master-entity-split' master_entity.id entity.id %}"><i class="material-icons highlight">call_split</i></a></span></td>
              {% endif %}
            {% else %}
              <td><span class="isDisabled"><a href=""><i class="material-icons">edit</i></a></span></td>
              <td><span class="isDisabled"><a href=""><i class="material-icons">call_merge</i></a></span></td>
              <td><span class="isDisabled"><a href=""><i class="material-icons">call_split</i></a></span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}

