{% extends "base.html" %}
{% load my_filters %}
{% load static %}

{% block content %}

  <div >
    <h2 style="display: inline-block">Master List</h2>
    <a href="{% url 'export' %}?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}" style="float: right" class="w3-btn w3-green w3-round">Export <i class="fa fa-file-text"></i></a>
    <button style="float: right; margin-right: 10px;" onclick="hide_show()"class="w3-btn w3-green w3-round">Search <i class="fa fa-search"></i> / Filter <i class="fa fa-filter"></i></button>
    <button style="float: right; margin-right: 10px;" class="w3-btn w3-green w3-round" type="button" id="clear-button2">Clear</button>
  </div>

  <div id="hide_show" class="w3-margin" style="display: none;">
    <form action="{% url 'master-list' %}" method="GET">
      <div class="w3-row">
        <div class="w3-col l8 m6 s4" style="padding-right: 12px;">
          <label for="search">Search for data values</label>
          <input type="text" id="search" name="search" value="{{search}}">
        </div>
        <div class="w3-col l2 m3 s4" style="padding: 0px 12px;">
          <label for="matching">Matching</label>
          <select id="matching" name="matching">
            {% if matching == 'exact' %}
              <option value="exact" selected>Exact</option>
            {% else %}
              <option value="exact">Exact</option>
            {% endif %}

            {% if matching == 'contains' %}
              <option value="contains" selected>Contains</option>
            {% else %}
              <option value="contains">Contains</option>
            {% endif %}

            {% if matching == 'startswith' %}
              <option value="startswith" selected>Starts with</option>
            {% else %}
              <option value="startswith">Starts with</option>
            {% endif %}

            {% if matching == 'endswith' %}
              <option value="endswith" selected>Ends with</option>
            {% else %}
              <option value="endswith">Ends with</option>
            {% endif %}
          </select>
        </div>
        <div class="w3-col l2 m3 s4" style="padding-left: 12px;">
          <label for"case-sensitive">Case-sensitive</label>
          <select id="case-sensitive" name="case-sensitive">
            {% if case_sensitive == 'no' %}
              <option value="no" selected>No</option>
            {% else %}
              <option value="no">No</option>
            {% endif %}

            {% if case_sensitive == 'yes' %}
              <option value="yes" selected>Yes</option>
            {% else %}
              <option value="yes">Yes</option>
            {% endif %}
          </select>
        </div>
      </div>
      <button class="w3-btn w3-blue w3-round-large" type="submit" id="filter-button">Filter</button>
      <button class="w3-btn w3-blue w3-round-large" type="button" id="clear-button">Clear</button>
    </form>
  </div>

  <table class="styled-table" style="width: 100%">
    <thead>
      <tr>
        {% for source_field in master_fields %}
          {% if source_field.abbreviation %}
            <th class="w3-center">{{ source_field.abbreviation }}</th>
          {% else %}
            <th class="w3-center">{{ source_field.name }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for entity in page_obj %}
        <tr class="w3-center highlight">
          {% for data_value in master_entity_data|get_item:entity %}
            <td class="w3-center">
            {% if data_value.mastervalue_set.all|length > 1 %}
              <a style="display: block; width: 100%; height: 100%; text-decoration: none;" href="{% url 'master-entity-view' data_value.master_entity.id %}">
                {{ data_value|to_string }}
              </a>
            {% else %}
              {% if data_value %}
                <a style="display: block; width: 100%; height: 100%; text-decoration: none;" href="{% url 'master-entity-view' data_value.master_entity.id %}">{{ data_value.mastervalue_set.first.value }}</a>
              {% endif %}
            {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page_obj.has_other_pages %}

    <div class="w3-bar w3-center">
      {% if page_obj.has_previous %}
        <a class="w3-button" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page=1">First</a>
        <a class="w3-button" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="w3-button w3-dark-grey w3-margin" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
          <a class="w3-button" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
        <a class="w3-button" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page={{page_obj.next_page_number}}">Next</a>
        <a class="w3-button" href="?search={{search}}&matching={{matching}}&case-sensitive={{case_sensitive}}&page={{page_obj.paginator.num_pages}}">Last</a>
      {% endif %}
    </div>

  {% endif %}

{% endblock content%}

{% block javascript %}

  <script type="text/javascript" src="{% static 'masterdata/masterlist.js' %}"></script>

{% endblock javascript %}