{% extends "base.html" %}
{% load static %}

{% block content %}

  <h3>Confirm the split operation</h3>
  <!-- <h3>Are you sure you want to split the selected part from its master entity?</h3> -->
  <!-- <h3>This will create a new master entity.</h3> -->

  <form class="w3-container w3-padding" method="POST">
    {% csrf_token %}
    <button class="w3-btn w3-green w3-round-large" type="submit">Confirm</button>
    <a href="{% url 'master-entity-view' master_entity_pk %}" class="w3-btn w3-red w3-round-large">Cancel</a>
  </form>

{% endblock content %}


