{% extends "base.html" %}
{% load my_filters %}
{% load static %}

{% block content %}

  <div >
    <h2 style="display: inline-block">Source List</h2>
    <button style="float: right" onclick="hide_show()"class="w3-btn w3-green w3-round">Search <i class="fa fa-search"></i> / Filter <i class="fa fa-filter"></i></button>
  </div>

  <div id="hide_show" class="w3-margin" style="display: none;">
    <form action="{% url 'source-list' %}" method="GET">
      <label for="source-query">Select a source:</label>
      <select name="source" id="source-query">
        {% for source in sources %}
          {% if selected_source == source %}
            <option value="{{ source.id }}" selected>{{ source.name }}</option>
          {% else %}
            <option value="{{ source.id }}">{{ source.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="hidden" name="page-size" value="{{page_size}}" />
      <button class="w3-btn w3-blue w3-round-large" type="submit">Get list</button>
    </form>
  </div>

  <div style="overflow-x:auto;">
    <table class="styled-table" style="width: 100%;">
      <thead>
        <tr>
          {% for source_field in source_fields %}
            <th class="w3-center">{{ source_field.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for entity in page_obj %}
          <tr class="w3-center">
            {% for data_value in source_entity_data|get_item:entity.id %}
              <td class="w3-center">{{ data_value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj.has_other_pages %}

    <div class="w3-bar w3-center">
      {% if page_obj.has_previous %}
      <a class="w3-button" href="?source={{ selected_source.id }}&page=1&page-size={{page_size}}">First</a>
      <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.previous_page_number }}&page-size={{page_size}}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="w3-button w3-dark-grey w3-margin" href="?source={{ selected_source.id }}&page={{ num }}&page-size={{page_size}}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
          <a class="w3-button" href="?source={{ selected_source.id }}&page={{ num }}&page-size={{page_size}}">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
        <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.next_page_number }}&page-size={{page_size}}">Next</a>
        <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.paginator.num_pages }}&page-size={{page_size}}">Last</a>
      {% endif %}

      <form class="w3-button" action="{% url 'source-list' %}" method="GET">
        <input type="hidden" name="source" value="{{selected_source.id}}" />
        <select id="page-size" name="page-size" onchange="this.form.submit()">
          {% for size in "10 15 25 50 100"|split %}
            {% if page_size == size %}
              <option value="{{size}}" selected>{{size}}</option>
            {% else %}
              <option value="{{size}}">{{size}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>

    </div>

  {% else %}

    <div class="w3-bar w3-center">
      <form class="w3-button" action="{% url 'source-list' %}" method="GET">
        <input type="hidden" name="source" value="{{selected_source.id}}" />
        <select id="page-size" name="page-size" onchange="this.form.submit()">
          {% for size in "10 15 25 50 100"|split %}
            {% if page_size == size %}
              <option value="{{size}}" selected>{{size}}</option>
            {% else %}
              <option value="{{size}}">{{size}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </div>

  {% endif %}

{% endblock content %}

{% block javascript %}
  <script>
    function hide_show() {
      var x = document.getElementById("hide_show");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
{% endblock javascript %}
