{% extends "base.html" %}

{% block content %}
{% load static %}

  {% if user.is_data_admin %}
    <h1>Hello {{ user.first_name }}!</h1>
    <h4>You are a data admin!</h4>
  {% elif user.is_editor %}
    <h1>Hello {{ user.first_name }}!</h1>
    <h4>You are an editor!</h4>
  {% elif user.is_authenticated %}
    <h1>Hello {{ user.first_name }}!</h1>
    <h4>You don't have any given privileges yet. Please contact the maintainer of the website.</h4>
  {% else %}
    <h1>Welcome to the Cradle of Humanity &mdash; The fossil collection data at the NMK</h1>
    <h4>Please <a href="{% url 'login' %}" >login</a> first.</h4>
  {% endif %}
{% endblock content %}
